archive
other/
.vscode/
.venv/
venv/
.ipynb_checkpoints*
DataEngineer/ny_taxi_postgres_data/
DataEngineer/terraform_demo/
DataEngineer/data/
DataEngineer/Docker_Postgresql/data/
*.csv
*.gz
*.parquet
DataEngineer/google-cloud-sdk/
advance-airline-400214-9e6c10ed4334.json
.python-version
DataEngineer/.DS_Store